<body>
    <header id="header" class="clearfix">
        <div class="container-md">
            <div class="row">
                <div class="site-name col-md-8 col-sm-12">
                    <!-- 判断logoUrl是否存在 -->
                    <th:block th:if="${not #strings.isEmpty(theme.config.general.logoUrl)}">
                        <a id="logo" th:href="@{/}">
                            <!-- 使用配置中的logoUrl -->
                            <img th:src="${theme.config.general.logoUrl}" th:alt="${theme.config.general.site_title}" />
                        </a>
                    </th:block>
                    <!-- 站点标题和描述 -->
                    <div>
                        <h1 id="site-title">
                            <a th:href="@{/}"
                                th:text="${#strings.isEmpty(theme.config.general.site_title) ? site.title : theme.config.general.site_title}"></a>
                        </h1>
                        <p class="description"
                            th:text="${#strings.isEmpty(theme.config.general.site_description) ? site.subtitle : theme.config.general.site_description}">
                        </p>
                    </div>
                </div>
                <div class="site-search col-md-4 d-none d-md-block">
                    <!-- 显示搜索框 -->
                    <th:block th:if="${#lists.contains(theme.config.sidebar.sidebarBlock, 'ShowSearch')}">
                        <section class="widget">
                            <a href="javascript:SearchWidget.open()" title="搜索文章">
                                <h3 class="widget-title">搜索文章</h3>
                            </a>
                        </section>
                    </th:block>
                </div>
                <div class="col-md-12">
                    <nav id="nav-menu" class="clearfix" role="navigation">
                        <a th:href="@{/}" th:classappend="${_templateId == 'index'} ? 'current' : ''">首页</a>

                        <!-- 从主题配置中获取菜单 -->
                        <th:block th:with="menuName=${theme.config.general.menus}">
                            <th:block th:if="${menuName != null and menuName != ''}"
                                th:with="menu=${menuFinder.getByName(menuName)}">
                                <th:block th:if="${menu != null}">
                                    <th:block th:each="menuItem : ${menu.menuItems}">
                                        <a th:href="@{${menuItem.status.href}}"
                                            th:classappend="${menuItem.status.href == #httpServletRequest.requestURI} ? 'current' : ''"
                                            th:text="${menuItem.status.displayName}"></a>
                                    </th:block>
                                </th:block>
                            </th:block>
                        </th:block>
                    </nav>
                </div>
            </div><!-- end .row -->
        </div>
    </header><!-- end #header -->
    <div id="body">
        <div class="container-md">
            <div class="row">