<!DOCTYPE html>
<html lang="zh-CN" th:fragment="layout(_title,_content,_head)" data-theme-mode xmlns:th="http://www.thymeleaf.org"
    th:with="site_title = ${not #strings.isEmpty(_title) ?  _title+' - '+site.title  :  #strings.isEmpty(site.subtitle) ? site.title :  site.title +' - ' +site.subtitle }">

<head th:replace="~{modules/head}"></head>

<body>
    <div class="container">
        <main>
            <div class="overlay"></div>
            <!-- 导入header模块 -->
            <th:block th:replace="~{modules/header}" />
            <!-- 导入content模块 -->
            <th:block th:replace="${_content}" />
            <!-- 导入sidebar模块 -->
            <aside th:replace="~{modules/sidebar}"></aside>
        </main>
        <!-- 导入footer模块 -->
        <th:block th:replace="~{modules/footer}" />
    </div>

    <script th:src="@{/assets/js/main.js?v={version}(version=${theme.spec.version})}" defer></script>
    <script type="text/javascript" th:if="${not #strings.isEmpty(theme.config.custom.custom_js)}"
        th:utext="${theme.config.custom.custom_js}"></script>
</body>

</html>