<div class="col-sm-12 col-md-4" id="secondary" role="complementary">
    <!-- 显示最新文章 -->
    <th:block th:if="${#lists.contains(theme.config.sidebar.sidebarBlock, 'ShowRecentPosts')}">
        <section class="widget">
            <h3 class="widget-title">最新文章</h3>
            <ul class="widget-list">
                <th:block th:with="posts=${postFinder.list(1, 5)}">
                    <!-- 过滤掉置顶文章 -->
                    <li th:each="post : ${posts.items}" th:if="${posts != null and !post.spec.pinned}">
                        <a th:href="@{${post.status.permalink}}" th:text="${post.spec.title}"></a>
                    </li>
                    <li th:if="${posts == null}">获取最新文章时出错。</li>
                </th:block>
            </ul>
        </section>
    </th:block>
    <!-- 显示最近回复 -->
    <th:block th:if="${#lists.contains(theme.config.sidebar.sidebarBlock, 'ShowRecentComments')}">
        <section class="widget">
            <h3 class="widget-title">最近回复</h3>
            <ul class="widget-list">
                <th:block th:with="comments=${commentFinder.list({group: 'content.halo.run', version: 'v1alpha1', kind: 'Post', name: '*'}, 1, 5)}">
                    <li th:each="comment : ${comments.items}" th:if="${comments != null}">
                        <a th:href="@{${comment.spec.subjectRef.permalink}}">
                            <span th:text="${comment.spec.owner.displayName}"></span>: 
                            <span th:text="${comment.spec.content}"></span>
                        </a>
                    </li>
                    <li th:if="${comments == null}">获取最近回复时出错。</li>
                </th:block>
            </ul>
        </section>
    </th:block>

    <!-- 显示分类 -->
    <th:block th:if="${#lists.contains(theme.config.sidebar.sidebarBlock, 'ShowCategory')}">
        <section class="widget">
            <h3 class="widget-title">分类</h3>
            <ul class="widget-list">
                <th:block th:with="categories=${categoryFinder.listAll()}">
                    <li th:each="category : ${categories}" th:if="${categories != null}">
                        <a th:href="@{${category.status.permalink}}" th:text="${category.spec.displayName}"></a>
                    </li>
                    <li th:if="${categories == null}">获取分类时出错。</li>
                </th:block>
            </ul>
        </section>
    </th:block>

    <!-- 显示归档 -->
    <th:block th:if="${#lists.contains(theme.config.sidebar.sidebarBlock, 'ShowArchive')}">
        <section class="widget">
            <h3 class="widget-title">归档</h3>
            <ul class="widget-list">
                <th:block th:with="archives=${postFinder.archives(1, 12)}">
                    <li th:each="archive : ${archives.items}" th:if="${archives != null}">
                        <a th:href="@{/archives/${archive.year}}">
                            <span th:text="${archive.year}"></span>
                        </a>
                    </li>
                    <li th:if="${archives == null}">获取归档时出错。</li>
                </th:block>
            </ul>
        </section>
    </th:block>

    <!-- 显示登录入口和RSS订阅 -->
    <th:block th:if="${#lists.contains(theme.config.sidebar.sidebarBlock, 'ShowLogin') || #lists.contains(theme.config.sidebar.sidebarBlock, 'ShowRSS')}">
        <section class="widget">
            <h3 class="widget-title">其它</h3>
            <ul class="widget-list">
                <th:block th:if="${#lists.contains(theme.config.sidebar.sidebarBlock, 'ShowLogin')}">
                    <div sec:authorize="isAuthenticated()">
                        <th:block>
                            <a href="/console" class="setting">管理</a>
                            <a href="/logout" class="logout">退出</a>
                        </th:block>
                    </div>
                    <div sec:authorize="isAnonymous()">
                        <a href="/console/login" class="login">登录</a>
                    </div>
                </th:block>
                <th:block th:if="${#lists.contains(theme.config.sidebar.sidebarBlock, 'ShowRSS')}">
                    <li><a th:href="@{/rss.xml}">文章 RSS</a></li>
                </th:block>
            </ul>
        </section>
    </th:block>
</div>
