<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: layout(_title = '文章归档',_content = ~{::content},_head = null)}">

<th:block th:fragment="content">
  <div class="col-sm-12 col-md-8" id="archives" role="main">
    <th:block th:each="archive : ${archives.items}">
      <h1 th:text="${archive.year}"></h1>
      <ul>
        <th:block th:each="month : ${archive.months}">
          <li class="post" th:each="post : ${month.posts}">
            <h2 class="post-title" itemprop="name headline" style="font-size: 1.2em;">
              <a th:href="@{${post.status.permalink}}" th:text="${post.spec.title}"></a>
            </h2>
            <th:block th:if="${theme.config.general.excerpt_show}">
              <div class="post-content" itemprop="articleBody">
                <p th:text="${post.status.excerpt}"></p>
              </div>
            </th:block>
          </li>
        </th:block>
      </ul>
    </th:block>
    <div class="pagination" th:if="${archives.hasPrevious() || archives.hasNext()}">
      <a th:href="@{${archives.prevUrl}}" th:classappend="${!archives.hasPrevious()} ? 'disabled' : ''">
        <span>上一页</span>
      </a>
      <span th:text="${archives.page} +' / '+ ${archives.totalPages}"></span>
      <a th:href="@{${archives.nextUrl}}" th:classappend="${!archives.hasNext()} ? 'disabled' : ''">
        <span>下一页</span>
      </a>
    </div>
  </div>
</th:block>

</html>