<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: layout(_title = ${category.spec.displayName},_content = ~{::content},_head = null)}">

<th:block th:fragment="content">
  <div class="col-sm-12 col-md-8" id="category" role="main">
    <h1 th:text="${category.spec.displayName}"></h1>
    <ul>
      <li th:each="post : ${posts.items}" class="post">
        <h2 class="post-title" itemprop="name headline">
          <a
            th:text="${post.spec.title}"
            th:href="${post.status.permalink}"
          ></a>
        </h2>
        <ul class="post-meta">
          <li>
            <span>时间: </span>
            <time th:datetime="${#dates.format(post.spec.publishTime, 'yyyy-MM-dd')}"
              th:text="${#dates.format(post.spec.publishTime, 'yyyy-MM-dd')}"></time>
          </li>
          <li>
            <span>分类: </span>
            <span th:each="category, iterStat : ${post.categories}">
              <a th:href="${category.status.permalink}" th:text="${category.spec.displayName}"></a>
              <span th:if="${!iterStat.last}">, </span>
            </span>
          </li>
        </ul>
        <th:block th:if="${theme.config.general.excerpt_show}">
          <div class="post-content" itemprop="articleBody">
            <p th:text="${post.status.excerpt}"></p>
          </div>
        </th:block>
      </li>
    </ul>
    <div class="pagination" th:if="${posts.hasPrevious() || posts.hasNext()}">
      <a th:href="@{${posts.prevUrl}}" th:classappend="${!posts.hasPrevious()} ? 'disabled' : ''">
        <span>上一页</span>
      </a>
      <span th:text="${posts.page} +' / '+ ${posts.totalPages}"></span>
      <a th:href="@{${posts.nextUrl}}" th:classappend="${!posts.hasNext()} ? 'disabled' : ''">
        <span>下一页</span>
      </a>
    </div>
  </div>
</th:block>

</html>