<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: layout(_title = null,_content = ~{::content},_head = null)}">


<th:block th:fragment="content">

  <!-- 文章列表 -->
  <div class="col-sm-12 col-md-8" id="main" role="main">
    <!-- 使用 posts 变量，避免重复查询 -->
    <article class="post" th:each="post : ${posts.items}" th:object="${post}">
      <h2 class="post-title" itemprop="name headline">
        <!-- 置顶标识 -->
        <span th:if="*{spec.pinned}" style="color: red;">[置顶]</span>
        <!-- 文章标题 -->
        <a th:href="*{status.permalink}" th:text="*{spec.title}"></a>
      </h2>
      <ul class="post-meta">
        <!-- 发布时间 -->
        <li>
          <span>时间: </span>
          <time th:datetime="*{#dates.format(spec.publishTime, 'yyyy-MM-dd')}"
            th:text="*{#dates.format(spec.publishTime, 'yyyy-MM-dd')}"></time>
        </li>
        <li>
          阅读: <span th:text="${post.stats.visit}"></span>
        </li>
        <!-- 分类 -->
        <li>
          <span>分类: </span>
          <span th:each="category, iterStat : ${post.categories}">
            <a th:href="${category.status.permalink}" th:text="${category.spec.displayName}"></a>
            <span th:if="${!iterStat.last}">, </span>
          </span>
        </li>
      </ul>
      <!-- 判断是否显示文章摘要 -->
      <th:block th:if="${theme.config.general.excerpt_show}">
        <div class="post-content" itemprop="articleBody">
          <p th:text="*{status.excerpt}"></p>
        </div>
      </th:block>
    </article>

    <!-- 文章分页 -->
    <div class="pagination" th:if="${posts.hasPrevious() || posts.hasNext()}">
      <a th:href="@{${posts.prevUrl}}" th:classappend="${!posts.hasPrevious()} ? 'disabled' : ''">
        <span>前一页</span>
      </a>
      <span th:text="${posts.page} +' / '+ ${posts.totalPages}"></span>
      <a th:href="@{${posts.nextUrl}}" th:classappend="${!posts.hasNext()} ? 'disabled' : ''">
        <span>后一页</span>
      </a>
    </div>
  </div>

</th:block>

</html>