<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: layout(_title = '标签墙',_content = ~{::content},_head = ~{::head})}">


<th:block th:fragment="content">
  <div class="col-sm-12 col-md-8" id="tag-wall">
    <!-- 页面标题 -->
    <h1 class="tag-page-title">Post Tag</h1>
    <!-- 遍历所有标签 -->
    <div class="tag-wall">
      <a th:each="tag : ${tags}" th:href="${tag.status.permalink}" class="tag-button"
        th:style="|background-color: ${tag.spec.color};|">
        <span th:text="${tag.spec.displayName}"></span>
        <span class="tag-count" th:text="${tag.postCount}"></span>
      </a>
    </div>
  </div>
</th:block>

</html>